@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&family=REM&family=Roboto+Slab:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: REM;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 150px;
    height: 120px;

}
li{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}
li:hover{
    color: #fff;
    background-color: #333;
    box-shadow: 5px 5px 20px blue;
}

.container{
   width: 100%;
   background-image: url("homepage-pingzhu-hero-bg-opt-v2.avif");
   background-size: cover;
   background-repeat:no-repeat;
   height: 700px;
}
.head-1{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 100px;
    text-shadow: 10px 10px 10px #fff;
}
.head-1:hover{
    color: rgb(79, 79, 235);
    text-shadow: 10px 10px 10px #fff;
}
.para-1{
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size:30px;
    font-weight: bold;
}
.para-1:hover{
    font-size:60px;
    font-weight: bolder;
}
.firstbtn{
    margin: 10px;
    padding: 15px;
    width: 250px;
    border-radius: 50px;
    font-size: 20px;
    background-color: rgba(0, 128, 66, 0.772);
    color: white;
    font-weight: bold;
    margin-left: 42%;
}
.para-2{
    text-align: center;
    padding: 1px;
    margin: 0px;
    margin-bottom: 30%;

}
.png-image {
    position: absolute;
    top: 85%; /* Adjust the positioning as needed */
    left: 40%;
    transform: translate(-50%, -50%);
    width: 500px; /* Adjust the width and height of the PNG image */
    height: 200px;
    background-image: url('https://ftr.imgix.net/3EOOAeQsNMQBJkX2HPZqJn/7b4c25bcca074a531f74bbda530f87df/homepage-pingzhu-hero-figures-v2-opt__1___3_.png?auto=format%2Ccompress&cs=srgb&fit=max&q=60&w=1144&s=341e8cfd4f8f76f9677951e2d8538969');
    background-size: cover;
  }

.page-2{
    width: 100%;
    height: 300px;
}
.head-2{
    margin-top:10%;
    font-size: 30px;
    margin-left: 20%;
    font-weight: bold;
}
.para-3{
    margin-left: 20%;
    font-size: 17px;
    color:black;
    margin-top:5px;
}

.days{
    margin-top: -190px;
    left: 540px;
    width: 550px;
    height: 300px;
    float: right;
    margin-right: 10%;

}

.page-3{
    background-color: wheat;
    width: 100%;
    height: 700px;
}

.head-3{
    padding: 80px;
    text-align: center;
    font-size: 30px;
}
.image-1{
    width: 550px;
    float: right;
    margin-top: -5%;
}
.para-4{
   margin-left: 20%;
   padding: 10px;
   font-size: 17px;
    
}
.para-5{
    margin-top: 20px;
    margin-left: 20%;
    padding: 10px;
    font-size: 17px;
}
.try{
    width: 250px;
    margin: 10px;
    padding: 15px;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(0, 128, 66, 0.772);
    color: white;
}
.page-4{
    width: 100%;
    height: 1150px;
}
.head-4{
    margin-top: 8%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.pc{
    width: 400px;
    margin-left: 18%;
    margin-top: 5%;
}
.head-5{
    float: right;
    margin-top: 10%;
    font-size: 35px;
    font-weight:800;
    margin-right: 18%;
}
.para-6{
    float: right;
    font-size: 20px;
    font-weight: lighter;
    margin-top: -18%;
    margin-right: 10%;
}
.image-2{
    width: 450px;
    float: right;
    margin-right: 13%;
}
.head-6{
    margin-left: 15%;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 8%;
}
.para-7{
    margin-left: 10%;
    margin-top:20px;
    font-size: 20px;
    font-weight: lighter;
}

.page-5{
    width: 100%;
    height: 1300px;
    background-color: wheat;
}
.head-7{
    padding: 100px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.para-8{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top:-45px;
    margin-bottom: 50px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.game{
    width: 100%;
}
.box{
    width:25%;
    background-color: white;
    border-radius: 50px;
    height: 600px;
    box-shadow:3px 3px 10px 5px rgba(0, 128, 0, 0.5);
}
.head-8{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.para-9{
    font-size: 18px;
    font-weight: lighter;
    margin-left: 10%;
    margin-top: 5%;
}

footer{
    width: 100%;
    height: 750px;
    background-color:white;
}
.image-3{
    margin-top: 15%;
}
.last{

}
.one{
    float: right;
    margin-top: -30%;
    margin-right: 25%;
    font-size: 50px;
    font-weight: bolder;
}
.three{
    float: right;
    margin-top: -20%;
    margin-right: 25%;
    font-size: 50px;
    font-weight: bolder;
}
.five{
    float: right;
    margin-top: -10%;
    margin-right: 25%;
    font-size: 50px;
    font-weight: bolder;
}
.two{
    float: right;
    margin-top: -25%;
    margin-right: 25%;
}
.four{
    float: right;
    margin-top: -15%;
    margin-right: 25%;

}
.six{
    float: right;
    margin-top: -5%;
    margin-right: 25%;
}
.link-1{
    text-decoration: none;
    color:green;
    margin-left: 45%;
}
.para-10{
    margin-top: 50px;
    color: green;
    text-align: center;
}
.link-2{
    margin-top: 30px;
    color: green;
    text-decoration: none;
    margin-left: 48%;
    margin-bottom: 50px;
}

@keyframes typing {
    from {
       width: 0%;
       font-size: 0px;
       color: black;
       background-color: #7fffd4;
       font-family: cursive;
       font-weight: 100;
    }
    to {
        width: 100%;
        font-size: 100px;
        color: blue;
        background-color: none;
        font-family: sans-serif;
        font-weight: bolder;
    }
}

.head-1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 100px;
    font-weight: bold;
    border-right: 20px solid red;
}

/* Animate the text */
.head-1 {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: transparent;
    animation: typing 6s steps(20) ;
}
/* Reset some default styles for the body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 400px;
    height: 500px;
    margin: 20px;
    perspective: 1000px;
    animation: box 6s steps(20) infinite;
    overflow: hidden;
    white-space: nowrap;
}
.box:hover{
    width: 600px;
    height: 700px;
}

@keyframes box{
    from{
        width: 300px;
        height: 400px;
        margin: 1px;
    }
    to{
        width: 400px;
    height: 500px;
    margin: 20px;
    }
}